<title>Encrypting the data with a public key</title>
<form action="encrypt.php" method="post">

    Public key:<br/>
<textarea name="public_key" cols="70" rows="10">
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDXJVJzmESWOquLp00O9KJppEhn
0o5WgWd5HmoPAifyPEIRsj8BL1/6o71bTY5vYyMiBSXm+ul2krKIPSfWbkItKmxO
BcDydlGR/Mib68MqzdMJuSwuuM/0Pg1YKZDFA1DnRz4PHfBPCj3QkJEf+6NovILe
RfBuOTE7ukGmNZ2e9QIDAQAB
-----END PUBLIC KEY-----
</textarea>
    <br/>
    Data:<br/>
<textarea name="data" cols="70" rows="10">
1234 5678 9101 2345
</textarea>
    <br/>
    <input type="submit">
</form>